.avatar {
    padding: 5px;
    padding-left: 20px;
    background-image: url('../img/avatar_bg.png');
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 5px 10px #6cc5fa;
    box-shadow: 0 5px 10px #6cc5fa;
}
.avatar img {
    width: 90px;
    border-radius: 50%;
}

.info {
    margin-left: 20px;
}
.info .name {
    color: #eee;
    font-weight: 600;
    font-size: 20px;
}
.info .area {
    color: #eaeaea;
}

.op_list {
    margin-top: 20px;
    margin-bottom: 70px;
}
